body {
	background-color: #404040;
	background-image: url("images/bg/8.jpg");
	color: white;
	margin: 0;
	overflow: scroll;
}
.header > .title {
	padding-left: 10px;
}
#nav-bar {
	position: sticky;
}
#nav-wrapper {
	display: flex;
	padding: 2px;
}
.tab {
	padding: 10px;
}
.tab:hover {
	background: rgba(128,128,128,0.3);
}
.tab > a {
	text-decoration: none;
}
.tab > a:hover {
	color: white;
}

.main-body {
	position: absolute;
	top: 110px;
	bottom: 30px;
	background: rgba(128,128,128,0.2); 
	color: white;
	bottom: 0;
}
.profile-bio {
	padding: 10px;
	width: 100%;
}
.profile-pic {
	max-width: 500px;
	padding: 10px;
	opacity: 1;
}

.profile-pic > img {
	max-width: 100%;
}
.images-grid {
	background: rgba(128,128,128,0.2);  
	color: white;
	display: grid;
	grid-template-columns:  repeat(auto-fill, minmax(200px, auto));
	grid-gap: 1rem;
	position: relative;
	bottom: 0;
	padding-top: 40px;
}
.portrait {
	grid-row: span 2;
}
.landscape {

}
.images-grid > div {
	margin: auto;
}

.images-grid > div > img {	
	max-width: 100%;
	transition:  all 1s ease;
	cursor: pointer;
}

.images-title {
	padding-left: 30px;
}
.videos-grid {
	background: rgba(128,128,128,0.2);  
	color: white;	
	display: grid;
	grid-template-columns:  1fr 1fr 1fr;
	position: relative;
	width: 100%;
	bottom: 0;

}
.videos-grid > div {
	display: table-cell;
	padding: 30px;
	padding-top: 15px;
	display: block;
	margin: auto;
}
.videos-grid > div {

}
.videos-grid > div > video{
	max-width: 100%;
}
.projects-grid {
	background: rgba(128,128,128,0.2);  
	color: white;	
	position: relative;
	bottom: 0;
	width: 100%;
	
}
.projects-grid > .project {
	display: flex;
	height: 200px;
	padding: 10px;
}
.projects-grid > .project > .project-img{
	max-width: 200px;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
}
.projects-grid > .project > .project-title{
	padding-left: 20px;
	margin-top: auto;
	margin-bottom: auto;
}
.projects-grid > .project > .project-img > a >img{
	max-width: 100%;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}
#btt {
	position: fixed;
	right: 5vw;
	bottom: 20vh;
	padding: 10px;
	opacity: 0;
}
#btt.visible {
	opacity: 1;
}
#lightbox {
	position: fixed;
	z-index: 1000;
	top: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	display: none;
}
#lightbox.active {
	display: flex;
	justify-content: center;
	align-items: center;
}
#lightbox img {
	max-width: 60vw;
	max-height: 90vh;
	padding: 5px;
	background-color: black;
	border: 2px solid white;
}